button {
    background-color: #4c81e2;
    color: #ffffff;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin-left: 5px;
}

button:hover {
    background-color: #0250e0;
    color: #ffffff;
}

video {
    pointer-events: none;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}